.item5 {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  svg {
      fill: var(--fill);
    path {
      fill: var(--textFill);
      z-index: 2;
      position: relative;
    }
    circle{
      stroke: var(--stroke);
      filter: drop-shadow(0 0 5px #1d355788);
    }
  }
}