@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$navbar-bg: #26232a;
$navbar-icons: white;
$body-bg: #2d2a32;
$preloader-bg: #61cbf5;

body {
  background-color: $body-bg;
  color: wheat;
}

nav {
  font-family: "Poppins", sans-serif;
  padding: 12px 20px 10px 18px;
  background-color: $navbar-bg;
  .NavWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  .MainNavicon {
    fill: $navbar-icons;
    stroke: $navbar-icons;
    cursor: pointer;
    path {
      fill: $navbar-icons;
    }
    button {
      cursor: pointer;
    }
  }
  .Navbar-trigger {
    width: 29px;
    height: 23px;
    z-index: 11;
    transition: all 0.1s ease;
    margin-left: 2px;
    &:hover {
      width: 33px;
      margin-left: 0;
    }
    button {
      padding: 4px;
      border: none;
      background-color: transparent;
      outline: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      margin: 0 auto;
    }
    .triggerLines {
      display: block;
      background-color: $navbar-icons;
      width: 100%;
      height: 2.4px;
      transform-origin: center;
    }
  }
  .Navbar-logo {
    height: 27px;
    width: fit-content;
    // margin: 0 auto;
    a {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      color: $navbar-icons;
      text-align: center;
      text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
      font-size: 22px;
      margin-bottom: auto;
      svg {
        height: 100%;
        width: 90%;
      }
    }
  }

  .Navbar-right-icon {
    height: 33px;
    width: 35px;
    a {
      padding: 5px 5px;
      display: block;
      width: 100%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .message-content {
          opacity: 0;
          transition: 0.1s ease;
        }
      }
      &:hover {
        svg {
          .message-content {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .fullHiddenNavbar,
  .Navbar-preScreen {
    position: absolute;
    z-index: 10;
  }
  .Navbar-preScreen {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    height: 0%;
    overflow: hidden;
    background: $preloader-bg;
  }
  .fullHiddenNavbar {
    color: $navbar-icons;
    width: 100%;
    top: 0%;
    left: 0;
    height: 0%;
    overflow: hidden;
    background-color: $body-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // opacity: 0;
    .fullNameWithLines {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 400px;
      .fullname {
        // width: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 3px;
        text-align: center;
        font-size: 11px;
        text-transform: uppercase;
        display: block;
        letter-spacing: 2.5px;
        opacity: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }
      .FullNameline {
        width: 0%;
        opacity: 1;
        height: 2.2px;
        background-color: $navbar-icons;
        max-width: 19%;
      }
    }
    .in-Site-Browsing-links {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      gap: 5px;
      margin-top: 20px;
      .Nav-links {
        opacity: 0;
        text-transform: uppercase;
        width: fit-content;
        a {
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          display: block;
          height: 100%;
          padding: 8px 25px;
          font-size: 31px;
          color: $navbar-icons;
          text-decoration: none;
          position: relative;
          transition: 0.2s ease-in;
          z-index: 2;
          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            //   height: 100%;
            height: 0;
            z-index: -1;
            transition: 0.25s ease-in-out;
            background-color: $navbar-icons;
            box-shadow: 0 2.3px 2.8px rgba(0, 0, 0, 0.063),
              0 6.3px 7.8px rgba(0, 0, 0, 0.09),
              0 15.1px 18.7px rgba(0, 0, 0, 0.117),
              0 50px 62px rgba(0, 0, 0, 0.18);
          }
          &:hover {
            color: $navbar-bg;
            &::after {
              height: 100%;
            }
          }
        }
      }
    }
    .social-links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      gap: 20px;
      border-top: 2.6px solid #888;
      border-bottom: 2.6px solid #888;
      height: 78px;
      width: 230px;
      opacity: 0;
      .SocialLinks {
        a {
          display: block;
          &:hover {
            svg {
              filter: drop-shadow(0 0 5px #000);
            }
            path {
              filter: brightness(1.8);
            }
          }
        }
        svg {
          height: 25px;
          width: 25px;
        }
        path {
          transition: 0.2s ease;
        }
      }
      .SocialLink1 {
        svg {
          height: 22px;
          width: 22px;
        }
      }
      .SocialLink2 {
        svg {
          height: 30px;
          width: 30px;
        }
      }
      .SocialLink4 {
        svg {
          height: 30px;
          width: 31px;
        }
      }
      .SocialLink5 {
        svg {
          height: 23px;
          width: 23px;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  nav {
    padding: 16px 18px 10px 18px;
  }
  nav .fullHiddenNavbar .fullNameWithLines .FullNameline {
    max-width: none;
  }
}

@media screen and (min-width: 2000px) {
  nav {
    .fullHiddenNavbar {
      //   align-items: flex-start;
      justify-content: flex-start;
      //   padding-top: 15rem;
      .fullNameWithLines {
        margin-top: 15rem;
      }
    }
  }
}
