@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import url("http://fonts.cdnfonts.com/css/monaco");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.stroked {
  --background-color: #01131a;
  --source-box: #022431;

  --stroke: #61cbf5;
  --head: #aee8ff;
  --fill: #0000;
  --textFill: #61cbf5;
  --border: #61cbf5;
}

// :root{
//   --stroke: #61cbf5;
//   --head: #aee8ff;
//   --fill: #61cbf5;
//   --textFill: #000000;
//   --border: #61cbf500;
// }



.filled {
  --background-color: #01131a;
  --source-box: #022431;

  --stroke: #61cbf5;
  --head: #aee8ff;
  --fill: #61cbf5;
  --textFill: #000000;
  --border: #61cbf500;
}

body {
  background-color: var(--background-color);
}

.head {
  margin-top: 20px;
  h1 {
    span {
      color: var(--head);
    }
    .name {
      text-decoration: underline;
      color: white;
    }
    font-size: 25px;
    text-align: center;
    font-weight: 600;
  }
}

.box {
  height: 575px;
  width: 100%;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
  .item {
    height: 100%;
  }
}

svg {
  width: 50%;
  height: 50%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: absolute;
  top: 88vh;
  left: 0;
  width: 70px;
  height: 50px;
  z-index: 5;
  button {
    height: 100%;
    margin-left: 30px;
    background-color: rgb(211, 242, 243);
    border: none;
    border-radius: 50%;
    padding: 10px;
    &:hover {
      background-color: white;
    }
    img {
      height: 100%;
    }
  }
}


.swiper-container {
  width: 100%;
  height: 100%;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: var(--stroke);
}

span.swiper-pagination-bullet {
  background-color: var(--stroke);
}

@media screen and (min-width: 950px) {
  .box {
    display: block;
    overflow: hidden;
    // height: 100%;
    height: 70vh;
    .item {
      height: 100%;
    }
  }
  svg {
    width: 190px;
    height: 190px;
  }
  .switch {
    top: 90vh;
  }
}

@import "./first";
@import "./second";
@import "./third";
@import "./fourth";
@import "./fifth";
@import "./sixth";
@import './zero';
@import './seventh';
@import './source';
