@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap");
@import url("http://fonts.cdnfonts.com/css/monaco");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.stroked {
  --background-color: #01131a;
  --source-box: #022431;

  --stroke: #61cbf5;
  --head: #aee8ff;
  --fill: #0000;
  --textFill: #61cbf5;
  --border: #61cbf5;
}

.filled {
  --background-color: #01131a;
  --source-box: #022431;

  --stroke: #61cbf5;
  --head: #aee8ff;
  --fill: #61cbf5;
  --textFill: #000000;
  --border: #61cbf500;
}

body {
  background-color: var(--background-color);
  width: 100%;
  overflow-X: hidden;
}

.head {
  margin-top: 20px;
  h1 {
    span {
      color: var(--head);
    }
    .name {
      text-decoration: underline;
      color: white;
    }
    font-size: 25px;
    text-align: center;
    font-weight: 600;
  }
}

.box {
  height: 575px;
  width: 100%;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
  .item {
    height: 100%;
  }
}

svg {
  width: 50%;
  height: 50%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: absolute;
  top: 88vh;
  left: 0;
  width: 70px;
  height: 50px;
  z-index: 5;
  button {
    height: 100%;
    margin-left: 30px;
    background-color: rgb(211, 242, 243);
    border: none;
    border-radius: 50%;
    padding: 10px;
    &:hover {
      background-color: white;
    }
    img {
      height: 100%;
    }
  }
}
.github {
  position: absolute;
  top: 88vh;
  right: 0%;
  z-index: 5;
  height: 50px;
  width: fit-content;
  a{
    margin-right: 30px;
    display: block;
    height: 50px;
    background-color: white;
    padding: 2px;
    border-radius: 50%;

    background-color: rgb(211, 242, 243);
    &:hover {
      background-color: white;
    }
    img{
      height: 100%;
      object-fit: cover;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: var(--stroke);
}

span.swiper-pagination-bullet {
  background-color: var(--stroke);
}

.source-btn {
  display: none;
}
.source-view-box {
  display: none;
}
.source-box-shadow {
  display: none;
}
.animatedTip {
  display: none;
}
@media screen and (min-width: 950px) {
  .box {
    display: block;
    overflow: hidden;
    height: 70vh;
    .item {
      height: 100%;
    }
  }
  svg {
    width: 190px;
    height: 190px;
  }
  .switch {
    top: 90vh;
  }
  @import "./source";

  .animatedTip {
    position: absolute;
    top: 75%;
    right: 5%;
    height: 150px;
    padding: 13px 20px;
    text-align: center;
    width: 240px;
    background-color: #61cbf5;
    color: #000000;
    z-index: 101;
    display: none;
    border: 2px solid #000000;
    box-shadow: 0 2px 2.1px rgba(0, 0, 0, 0.019),
      0 4.9px 5.1px rgba(0, 0, 0, 0.024), 0 9.3px 9.6px rgba(0, 0, 0, 0.027),
      0 16.5px 17.2px rgba(0, 0, 0, 0.031), 0 30.9px 32.2px rgba(0, 0, 0, 0.039),
      0 74px 77px rgba(0, 0, 0, 0.07);
    span {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

@import "./first";
@import "./second";
@import "./third";
@import "./fourth";
@import "./fifth";
@import "./sixth";
@import "./zero";
@import "./seventh";
@import './navbar';