@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stroked{
    --background-color: #01131a;
    --stroke: #61cbf5;
    --head: #aee8ff;
    --fill: #0000;
    --textFill: #61cbf5;
  }
  .filled{
    --background-color: #01131a;
    --stroke: #61cbf5;
    --head: #aee8ff;
    --fill: #61cbf5;
    --textFill: #000000;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.head {
  margin-top: 20px;
  h1 {
    span {
      color: var(--head)
    }
    .name {
      text-decoration: underline;
      color: white;
    }
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
}

.box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}



@media screen and (max-width: 950px) {
  svg {
    width: 200px;
    height: 200px;
  }
  .box {
      margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: visible;
  }
  .item {
    height: 200px;
  }
}

.switch{
  position: absolute;
  top: 80vh;
  left: 0;
  width: 70px;
  height: 50px;
  button{
    height: 100%;
    margin-left: 30px;
    background-color: rgb(211, 242, 243);
    border: none;
    border-radius: 50%;
    padding: 10px;
    &:hover{
      background-color: white;
    }
    img{
      height: 100%
    }
  }
}

@import './first';
@import './second';
@import './third';
@import './fourth';
@import './fifth';
@import './sixth';
