@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap");
@import url("http://fonts.cdnfonts.com/css/monaco");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.stroked {
  --background-color: #01131a;
  --source-box: #022431;
  --stroke: #61cbf5;
  --head: #aee8ff;
  --fill: #0000;
  --textFill: #61cbf5;
  --border: #61cbf5;
}

.filled {
  --background-color: #01131a;
  --source-box: #022431;
  --stroke: #61cbf5;
  --head: #aee8ff;
  --fill: #61cbf5;
  --textFill: #000000;
  --border: #61cbf500;
}

body {
  background-color: var(--background-color);
  width: 100%;
  overflow-X: hidden;
}

.head {
  margin-top: 20px;
}

.head h1 {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

.head h1 span {
  color: var(--head);
}

.head h1 .name {
  text-decoration: underline;
  color: white;
}

.box {
  height: 575px;
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: visible;
}

.box .item {
  height: 100%;
}

svg {
  width: 50%;
  height: 50%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.switch {
  position: absolute;
  top: 88vh;
  left: 0;
  width: 70px;
  height: 50px;
  z-index: 5;
}

.switch button {
  height: 100%;
  margin-left: 30px;
  background-color: #d3f2f3;
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.switch button:hover {
  background-color: white;
}

.switch button img {
  height: 100%;
}

.github {
  position: absolute;
  top: 88vh;
  right: 0%;
  z-index: 5;
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.github a {
  margin-right: 30px;
  display: block;
  height: 50px;
  background-color: white;
  padding: 2px;
  border-radius: 50%;
  background-color: #d3f2f3;
}

.github a:hover {
  background-color: white;
}

.github a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: var(--stroke);
}

span.swiper-pagination-bullet {
  background-color: var(--stroke);
}

.source-btn {
  display: none;
}

.source-view-box {
  display: none;
}

.source-box-shadow {
  display: none;
}

.animatedTip {
  display: none;
}

@media screen and (min-width: 950px) {
  .box {
    display: block;
    overflow: hidden;
    height: 70vh;
  }
  .box .item {
    height: 100%;
  }
  svg {
    width: 190px;
    height: 190px;
  }
  .switch {
    top: 90vh;
  }
  .source-btn {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 6;
    display: block;
  }
  .source-btn button {
    background-color: #ff1053;
    background-color: var(--fill);
    padding: 3px 15px;
    font-size: 16px;
    color: var(--textFill);
    border-radius: 20px;
    border: 2px solid var(--border);
    font-weight: 500;
    opacity: 0.9;
    font-family: "Poppins", sans-serif;
  }
  .source-btn button:hover {
    opacity: 1;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
  }
  .source-view-box {
    height: 90vh;
    width: 90%;
    max-width: 1000px;
    min-width: 950px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: var(--source-box);
    z-index: 100;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    display: none;
  }
  .source-view-box .html,
  .source-view-box .css,
  .source-view-box .js {
    border: 4px solid var(--stroke);
    color: #d8d8d8;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: block;
    padding: 35px 0px;
  }
  .source-view-box .label {
    background-color: var(--fill);
    color: var(--textFill);
    padding: 4px 5px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .source-view-box .js {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .source-view-box p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 100%;
  }
  .source-view-box #js-code,
  .source-view-box #css-code,
  .source-view-box #html-code {
    font-family: Arial, Helvetica, sans-serif;
  }
  .source-box-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: none;
    z-index: 99;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
  .animatedTip {
    position: absolute;
    top: 75%;
    right: 5%;
    height: 150px;
    padding: 13px 20px;
    text-align: center;
    width: 240px;
    background-color: #61cbf5;
    color: #000000;
    z-index: 101;
    display: none;
    border: 2px solid #000000;
    -webkit-box-shadow: 0 2px 2.1px rgba(0, 0, 0, 0.019), 0 4.9px 5.1px rgba(0, 0, 0, 0.024), 0 9.3px 9.6px rgba(0, 0, 0, 0.027), 0 16.5px 17.2px rgba(0, 0, 0, 0.031), 0 30.9px 32.2px rgba(0, 0, 0, 0.039), 0 74px 77px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 2.1px rgba(0, 0, 0, 0.019), 0 4.9px 5.1px rgba(0, 0, 0, 0.024), 0 9.3px 9.6px rgba(0, 0, 0, 0.027), 0 16.5px 17.2px rgba(0, 0, 0, 0.031), 0 30.9px 32.2px rgba(0, 0, 0, 0.039), 0 74px 77px rgba(0, 0, 0, 0.07);
  }
  .animatedTip span {
    font-size: 20px;
    font-weight: 600;
  }
}

.item1 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.item1 svg {
  fill: var(--fill);
}

.item1 svg circle {
  stroke: var(--stroke);
  -webkit-filter: drop-shadow(0 0 5px #1d355788);
          filter: drop-shadow(0 0 5px #1d355788);
}

.item2 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.item2 svg {
  fill: var(--fill);
}

.item2 svg circle {
  stroke: var(--stroke);
  -webkit-filter: drop-shadow(0 0 5px #1d355788);
          filter: drop-shadow(0 0 5px #1d355788);
}

.item3 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.item3 svg {
  fill: var(--fill);
}

.item3 svg circle {
  stroke: var(--stroke);
  -webkit-filter: drop-shadow(0 0 5px #1d355788);
          filter: drop-shadow(0 0 5px #1d355788);
}

.item4 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.item4 svg {
  fill: var(--fill);
}

.item4 svg circle {
  stroke: var(--stroke);
  -webkit-filter: drop-shadow(0 0 5px #1d355788);
          filter: drop-shadow(0 0 5px #1d355788);
}

.item5 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.item5::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: 'Dev';
  font-weight: 600;
  font-size: 20px;
  color: var(--textFill);
  font-family: 'Montserrat Alternates', sans-serif;
}

.item5 svg {
  position: relative;
  fill: var(--fill);
}

.item5 svg circle {
  stroke: var(--stroke);
  -webkit-filter: drop-shadow(0 0 5px #1d355788);
          filter: drop-shadow(0 0 5px #1d355788);
}

.item6 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.item6 svg {
  fill: var(--fill);
}

.item6 svg path {
  fill: var(--stroke);
}

#sixthSVG path {
  fill: var(--fill);
  stroke: var(--stroke);
}

.item0 {
  height: 100%;
}

.item0Wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  padding-bottom: 50px;
}

.circle {
  margin-top: auto;
  height: 35px;
  width: 70px;
  background-color: var(--fill);
  border-radius: 50%;
  border: 4px solid var(--border);
}

.rect {
  height: 40px;
  width: 140px;
  background-color: var(--fill);
  border-radius: 5px;
  border: 4px solid var(--border);
}

.item7 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.item7::after {
  position: absolute;
  content: "All original work by:";
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 17px;
  color: var(--head);
}

.item7 svg {
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #2d2a32;
  color: wheat;
}

nav {
  font-family: "Poppins", sans-serif;
  padding: 12px 20px 10px 18px;
  background-color: #26232a;
}

nav .NavWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

nav .MainNavicon {
  fill: white;
  stroke: white;
  cursor: pointer;
}

nav .MainNavicon path {
  fill: white;
}

nav .MainNavicon button {
  cursor: pointer;
}

nav .Navbar-trigger {
  width: 29px;
  height: 23px;
  z-index: 11;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin-left: 2px;
}

nav .Navbar-trigger:hover {
  width: 33px;
  margin-left: 0;
}

nav .Navbar-trigger button {
  padding: 4px;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  margin: 0 auto;
}

nav .Navbar-trigger .triggerLines {
  display: block;
  background-color: white;
  width: 100%;
  height: 2.4px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

nav .Navbar-logo {
  height: 27px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .Navbar-logo a {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: auto;
}

nav .Navbar-logo a svg {
  height: 100%;
  width: 90%;
}

nav .Navbar-right-icon {
  height: 33px;
  width: 35px;
}

nav .Navbar-right-icon a {
  padding: 5px 5px;
  display: block;
  width: 100%;
  height: 100%;
}

nav .Navbar-right-icon a svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav .Navbar-right-icon a svg .message-content {
  opacity: 0;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .Navbar-right-icon a:hover svg .message-content {
  opacity: 0.8;
}

nav .fullHiddenNavbar,
nav .Navbar-preScreen {
  position: absolute;
  z-index: 10;
}

nav .Navbar-preScreen {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  height: 0%;
  overflow: hidden;
  background: #61cbf5;
}

nav .fullHiddenNavbar {
  color: white;
  width: 100%;
  top: 0%;
  left: 0;
  height: 0%;
  overflow: hidden;
  background-color: #2d2a32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .fullHiddenNavbar .fullNameWithLines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  width: 400px;
}

nav .fullHiddenNavbar .fullNameWithLines .fullname {
  white-space: nowrap;
  overflow: hidden;
  padding: 0 3px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2.5px;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

nav .fullHiddenNavbar .fullNameWithLines .FullNameline {
  width: 0%;
  opacity: 1;
  height: 2.2px;
  background-color: white;
  max-width: 19%;
}

nav .fullHiddenNavbar .in-Site-Browsing-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

nav .fullHiddenNavbar .in-Site-Browsing-links .Nav-links {
  opacity: 0;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .fullHiddenNavbar .in-Site-Browsing-links .Nav-links a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: block;
  height: 100%;
  padding: 8px 25px;
  font-size: 31px;
  color: white;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  z-index: 2;
}

nav .fullHiddenNavbar .in-Site-Browsing-links .Nav-links a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: white;
  -webkit-box-shadow: 0 2.3px 2.8px rgba(0, 0, 0, 0.063), 0 6.3px 7.8px rgba(0, 0, 0, 0.09), 0 15.1px 18.7px rgba(0, 0, 0, 0.117), 0 50px 62px rgba(0, 0, 0, 0.18);
          box-shadow: 0 2.3px 2.8px rgba(0, 0, 0, 0.063), 0 6.3px 7.8px rgba(0, 0, 0, 0.09), 0 15.1px 18.7px rgba(0, 0, 0, 0.117), 0 50px 62px rgba(0, 0, 0, 0.18);
}

nav .fullHiddenNavbar .in-Site-Browsing-links .Nav-links a:hover {
  color: #26232a;
}

nav .fullHiddenNavbar .in-Site-Browsing-links .Nav-links a:hover::after {
  height: 100%;
}

nav .fullHiddenNavbar .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  gap: 20px;
  border-top: 2.6px solid #888;
  border-bottom: 2.6px solid #888;
  height: 78px;
  width: 230px;
  opacity: 0;
}

nav .fullHiddenNavbar .social-links .SocialLinks a {
  display: block;
}

nav .fullHiddenNavbar .social-links .SocialLinks a:hover svg {
  -webkit-filter: drop-shadow(0 0 5px #000);
          filter: drop-shadow(0 0 5px #000);
}

nav .fullHiddenNavbar .social-links .SocialLinks a:hover path {
  -webkit-filter: brightness(1.8);
          filter: brightness(1.8);
}

nav .fullHiddenNavbar .social-links .SocialLinks svg {
  height: 25px;
  width: 25px;
}

nav .fullHiddenNavbar .social-links .SocialLinks path {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav .fullHiddenNavbar .social-links .SocialLink1 svg {
  height: 22px;
  width: 22px;
}

nav .fullHiddenNavbar .social-links .SocialLink2 svg {
  height: 30px;
  width: 30px;
}

nav .fullHiddenNavbar .social-links .SocialLink4 svg {
  height: 30px;
  width: 31px;
}

nav .fullHiddenNavbar .social-links .SocialLink5 svg {
  height: 23px;
  width: 23px;
}

@media screen and (min-width: 1100px) {
  nav {
    padding: 16px 18px 10px 18px;
  }
  nav .fullHiddenNavbar .fullNameWithLines .FullNameline {
    max-width: none;
  }
}

@media screen and (min-width: 2000px) {
  nav .fullHiddenNavbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav .fullHiddenNavbar .fullNameWithLines {
    margin-top: 15rem;
  }
}
/*# sourceMappingURL=style.css.map */