.item6 {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  svg {
    fill: var(--fill);
    path {
      fill: var(--stroke);
    }
  }
}

#sixthSVG {
  path {
    fill: var(--fill);
    stroke: var(--stroke);
  }
}
